@tailwind base;
@tailwind components;
@tailwind utilities;
.background{
  background-image: url("https://incredible-seahorse-b1c134.netlify.app/back.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.btn{
  appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 6px 56px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 100%;
    max-width: 300px;
}
.background-1{
  background: linear-gradient(135deg, #ffee58, #ff7043);
}
.logo{
  position: absolute;
    top: 1%;
    left: 2%;
    font-size: 4rem;
    font-weight: bold;
    color: red;
    animation: rotate 5s linear infinite;
    font-family: 'Times New Roman', serif;
}